<div class="duck-creation-container">
	<img src="" alt="">
	<div class="duck-creation-info">
		<h1>name</h1>
		<p>Description:</p>
		<div class="duck-description-container">
			<div class="duck-description">
				<h4>name:</h4>
				<input id="name" type="text">
			</div>
			<div class="duck-description">
				<h4>age:</h4>
				<input id="age" type="number">
			</div>
			<div class="duck-description">
				<h4>color:</h4>
				<input id="color" type="number">
			</div>
			<div class="duck-description">
				<h4>alcoholic:</h4>
				<input id="alcoholic" type="checkbox">
			</div>
		</div>
		<button type="submit" (click)="onClick()">make duck</button>
	</div>
</div>
